@model Upload_ProfilePhoto.Models.Comman
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Http;
<style>
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        padding-top: 50px;
    }

    .stylemodelbutton {
        padding: 0 10px;
        float: unset;
        color: #fff;
        background-color: #e44d3a;
        height: 40px;
        text-align: center;
        border: 0;
        font-size: 14px;
        cursor: pointer;
        margin-left: 14px;
        font-weight: 600;
    }

    .modeltextbox {
        width: 320px;
        height: 40px;
        border: 1px solid #e5e5e5;
        background-color: #efefef;
        padding-left: 10px;
        color: #b2b2b2;
        font-size: 14px;
        font-weight: 600;
        line-height: 40px;
        resize: none;
    }
</style>

<main>
    <div class="main-section">
        <div class="container">
            <div class="main-section-data">
                <div class="row">
                    <div class="col-lg-3 col-md-4 pd-left-none no-pd">
                        <div class="main-left-sidebar no-margin">
                            <div class="user-data full-width">
                                <div class="user-profile" id="userprofile">
                                </div>
                                <ul class="user-fw-status">
                                    <li>
                                        <h4>Following</h4>
                                        <span>34</span>
                                    </li>
                                    <li>
                                        <h4>Followers</h4>
                                        <span>155</span>
                                    </li>
                                    <li>
                                        <a href="https://localhost:44329/Home/Profile" title="">View Profile</a>
                                    </li>
                                </ul>
                            </div><!--user-data end-->
                        </div><!--main-left-sidebar end-->
                    </div>
                    <div class="col-lg-6 col-md-8 no-pd">
                        <div class="main-ws-sec">
                            <span style="display:none"></span>
                            <div class="posts-section" id="myimages">

                            </div><!--posty end-->
                            <!--post-bar end-->
                        </div><!--posts-section end-->
                    </div><!--main-ws-sec end-->
                </div>
            </div>
        </div><!-- main-section-data end-->
    </div>
    <div id="id01" class="modal">
        @*<span onclick="model()" class="close" title="Close Modal">&times;</span>*@
        <form style="margin: 4% 32% 4% 35%;">
            <input type="hidden" id="CommId" />
            <input type="text" class="modeltextbox" id="myInput" required="required" placeholder="Post a comment Replay">
            <button type="button" class="stylemodelbutton" onclick="SendReplayComment()">Send</button>
        </form>
    </div>
</main>

<link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/toastr.js/toastr.min.js"></script>
<script>
    $(document).ready(function () {
        showprofiles();
        CurrentPrifile();
    });
    function showprofiles() {
        $.ajax({
            type: 'Get',
            url: '/Home/GetAllPicture',
            dataType: 'json',
            success: function (result) {
                $.each(result, function (i, l) {
                    $("#myimages").append('<div class="post-bar"><div class="post_topbar"><div class="usy-dt"><img class="imgstyle" src="https://localhost:44329/ProfilePhoto/' + l.currentProfile + '" alt=""><div class="usy-name"><h3>' + l.first_Name + ' ' + l.last_Name + '</h3><span><img src="https://localhost:44329/temp/images/clock.png" alt="">'+ConvertDate(l.dateCreated)+' ago</span></div></div></div><img src="https://localhost:44329/ProfilePhoto/' + l.pictureName + '" /><div class="job-status-bar"><ul class="like-com"><li><a href="javascript:void(0)" id="likeid' + l.picureid + '" class="unlikeclass"  onclick="LikeProce(' + l.picureid + ')"><i class="fas fa-heart"></i> Like</a><span style="margin: -1px 0px 0px 0px;" id="' + l.picureid + '"></span></li><li  onclick="$( '+"'"+'#commentsection'+l.picureid+''+"'"+').toggle()"><a href="javascript:void(0)" class="com" ><i class="fas fa-comment-alt"></i> Comment <b id="commentcount'+l.picureid+'"></b> </a></li></ul></div><div id="commentsection' + l.picureid + '" style="display: none;" class="comment-section"><hr style="border-top: 3px solid #e5e5e5 !important;"><div class="comment-sec scrollbar" id="style-4"><ul id="commentlist' + l.picureid + '"></ul></div><div class="post-comment"><div class="cm_img"><img src="https://localhost:44329/ProfilePhoto/' + l.currentProfile + '" alt="" style="height: 40px;width: 40px;border-radius: 100px;"></div><div class="comment_box"><form id="form"><input type="hidden" id="txtCommentId'+l.picureid+'" value=""><input type="hidden" id="txtpictureid' + l.picureid + '" value="' + l.picureid + '" /><input type="text" required="required" id="txtComment' + l.picureid + '" placeholder="Post a comment" style="width: 320px;"><button type="button" onclick="SendComment(' + l.picureid + ')">Send</button></form></div></div></div>')
                })

            }
        });
    }
    function CurrentPrifile() {
        $.ajax({
            type: 'Get',
            url: '/Home/LoggedUserProfile',
            dataType: 'json',
            success: function (result) {
                $("#userprofile").append('<div class="username-dt"><div class="usr-pic"><img style="height:110px; width:110px;" src="https://localhost:44329/ProfilePhoto/' + result.currentProfile + '" alt=""></div></div><div class="user-specs"><h3>' + result.first_Name + '' + result.last_Name + '</h3><span>' + result.email + '</span></div>')

            }
        });
    }
    function LikeProce(id) {
        var likestf;
        $('#likeid' + id).toggleClass('likeclass unlikeclass');
        var yourClass = $('#likeid' + id).prop("class");
        if (yourClass == "likeclass") {
            likestf = true;
        }
        else if (yourClass == "unlikeclass") {
            likestf = false;
        }
        $.ajax({
            async: true,
            type: "POST",
            url: '/Home/Like',
            data: {
                pictureid: id,
                like: likestf
            },
            success: function (result) {
                GetAllLiker();
            },
        });

    }
    function ConvertDate(dateStr) {
        var date = new Date(dateStr);
        var seconds = Math.floor((new Date() - date) / 1000);
  var interval = Math.floor(seconds / 31536000);
  if (interval > 1) {
    return interval + " years";
  }
  interval = Math.floor(seconds / 2592000);
          if (interval > 1) {
              if (interval > 12) {
                  return  "1 years";
              }
    return interval + " months";
  }
  interval = Math.floor(seconds / 86400);
          if (interval > 1) {
      if (interval > 31) {
                  return  "1 months";
              }
    return interval + " days";
  }
  interval = Math.floor(seconds / 3600);
  if (interval > 1) {
    return interval + " hours";
  }
  interval = Math.floor(seconds / 60);
          if (interval > 1) {
      if (interval > 60) {
                  return  "1 hours";
              }
    return interval + " minutes";
        }
        if (seconds > 60) {
            return "1 minute";
        }
  return Math.floor(seconds) + " seconds";

    }
    function GetAllLiker() {
        $.ajax({
            type: 'Get',
            url: '/Home/GetAllLIker',
            dataType: 'json',
            success: function (result) {
                $.each(result, function (i, l) {
                    $('#' + l.pictureId).text(l.totalLIkes);
                    if (l.currUserLike) {
                        var yourClass = $('#likeid' + l.pictureId).prop("class");
                        $('#likeid' + l.pictureId).removeClass(yourClass).addClass('likeclass');
                    }
                })

            }
        });
    }
    function SendComment(id) {
        var comment = {};
        comment.Id =  $("#txtCommentId"+id).val();;
        comment.Message = $('#txtComment' + id).val();
        comment.PictureId = $('#txtpictureid' + id).val();
        if (comment.Message == "") {
            return;
        }
        if (comment.PictureId == "") {
            return;
        }
        $.ajax({
            async: true,
            type: "POST",
            url: '/Home/SendComment',
            data: {
                comments: comment

            },
            success: function (result) {
                $('#txtComment' + id).val("");
                $('#txtCommentId' + id).val("");
                GetAllComments();

            },
            error: function () {
            }
        });
    }
    function GetAllComments() {
        var CurUserId = @Context.Session.GetString("UserId");
        $.ajax({
            type: 'Get',
            url: '/Home/GetAllComments',
            dataType: 'json',
            success: function (result) {
                $.each(result, function (i, l) {
                    $("#commentlist" + l.commentPitcureId).empty();
                })
                $.each(result, function (i, l) {
                    $("#commentcount"+l.commentPitcureId).text(l.totalComment);
                    $("#commentlist" + l.commentPitcureId).append('<li id="li'+l.commentId+'"><div class="comment-list" id="commentlist"style="display: inline-flex;"><div class="bg-img"><img src="https://localhost:44329/ProfilePhoto/' + l.userPicture + '" alt="" style="height: 36px;width: 50px;"></div><div class="comment"><div class="row" style="margin: 0;"><h3>' + l.userName + '</h3><div class="ed-opts" id="buttons'+l.commentId+'" style="display: none; margin: 0 0 0 250px;"><a href="javascript:void(0)" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a><ul class="ed-options active"><li style="margin: -16px 0 0 -25px;"><a href="javascript:void(0)" onclick="EditComment('+l.commentId+','+l.commentPitcureId+')" title="">Edit</a></li><li style="/* margin-bottom: 25px; */margin: 4px 0 0 -25px;"><a href="javascript:void(0)" onclick="DeleteComment('+l.commentId+')" title="">Delete</a></li></ul></div></div><span><img src="https://localhost:44329/temp/images/clock.png" alt=""> '+ConvertDate(l.createdDate)+' ago</span><p id="txtcomm'+l.commentId+'">' + l.message +'</p><a href="javascript:void(0)" title=""><i class="fa fa-heart"></i>Like</a>&nbsp;&nbsp;<a href="javascript:void(0)" onclick="model('+l.commentId+')" title=""><i class="fa fa-reply-all"></i>Reply</a><br /><a href="javascript:void(0)" onclick="$( '+"'"+'#Replaycommentlist'+l.commentId+''+"'"+').toggle()">replies&nbsp; <b  id="replies'+l.commentId+'"></b></a><ul id="Replaycommentlist'+ l.commentId +'" style="display: none;" ></ul></div></div></li>');
                    if (l.userid == CurUserId) {
                        $("#buttons"+l.commentId).show();
                    }

                    scrollDown();
                })
                GetCommentReplayes();
            }
        });
    }
    function scrollDown() {
        var objDiv = $( "#style-4" ).get( 0 );
        objDiv.scrollTop = objDiv.scrollHeight;
    }
    function DeleteComment(commentId) {
         $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you want to delete this Comment?',
                    buttons: {
                        confirm: function () {

                            $.ajax({
            async: true,
            type: "POST",
            url: '/Home/DeleteComment',
            data: {
                CommentId: commentId

            },
              success: function (result) {
                  $("#li" + result.id).empty();
                $('#txtCommentId' + result.pictureId).val("");
                  GetNotificaiton();
                  toastr.success("Comment Deleted.!")

            },
                                error: function () {
                toastr.error("Error, Unsuccess in deleting comment.")
            }
        });

                        },
                        cancel: function () {

                        },
                    }

                });

    }
    function EditComment(commentId,picureid) {
        $("#txtCommentId"+picureid).val(commentId);
        var text = $("#txtcomm" + commentId).text();
        $('#txtComment'+ picureid).val(text);
    }
    var modal = document.getElementById('id01');
    window.onclick = function(event) {
  if (event.target == modal) {
      modal.style.display = "none";
  }
    }
    function model(id) {
        document.getElementById('id01').style.display = 'block';
        $("#CommId").val(id);
    }
    function SendReplayComment() {
         var comment = {};
        comment.PictureCommentId =  $("#CommId").val();
        comment.Message = $(".modeltextbox").val();
        if (comment.Message == "") {
            return;
        }
        if (comment.PictureCommentId == "") {
            return;
        }
         $.ajax({
            async: true,
            type: "POST",
            url: '/Home/SendCommentReplay',
            data: {
                comments: comment
            },
             success: function (result) {
                 document.getElementById('Replaycommentlist'+result.pictureCommentId).style.display = 'block';
                    $(".modeltextbox").val("");
                 $("#CommId").val("");
                 document.getElementById('id01').style.display = 'none';

                 GetCommentReplayes();

            },
        });
    }
    function GetCommentReplayes() {
         $.ajax({
            type: 'Get',
            url: '/Home/GetAllCommentReplayes',
            dataType: 'json',
             success: function (result) {
                $.each(result, function (i, l) {
                    $("#Replaycommentlist" + l.commentId).append('<li><div class="comment-list"  style="display: inline-flex;"><div class="bg-img"><img src="https://localhost:44329/ProfilePhoto/' + l.userPicture + '" alt="" style="height: 36px;width: 50px;"></div><div class="comment"><div class="row" style="margin: 0;"><h3>' + l.userName + '</h3><div id="buttons21" style=""></div></div><span><img src="https://localhost:44329/temp/images/clock.png" alt=""> '+ConvertDate(l.createdDate)+' ago</span><p id="txtcomm21">' + l.message + '</p></div></div></li>');
                     $("#replies" + l.commentId).text(l.totalComment);
                })
            }
        });
    }
</script>

@*<div class="ed-opts" id="buttons'+l.commentId+'" style="display: none;"><a href="javascript:void(0)" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a><ul class="ed-options active"><li style="margin: -16px 0 0 -25px;"><a href="javascript:void(0)" onclick="EditComment('+l.commentId+','+l.commentPitcureId+')" title="">Edit</a></li><li style="/* margin-bottom: 25px; */margin: 4px 0 0 -25px;"><a href="javascript:void(0)" onclick="DeleteComment('+l.commentId+')" title="">Delete</a></li></ul></div>*@
@*<div id="buttons'+l.commentId+'" style="display: none;"><ul class="bk-links" style="display: flex;"><li><a onclick="EditComment('+l.commentId+','+l.commentPitcureId+')" title=""><i class="la la-edit" style="background-color: #c1c16e;"></i></a></li><li><a onclick="DeleteComment('+l.commentId+')" title=""><i class="la la-remove" style="background-color: #e44d3a;"></i></a></li></ul></div>*@
