@model Upload_ProfilePhoto.Models.Comman
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    ViewData["Title"] = "Profile";
}
<style>

    .imgstyle {
        height: 50px;
        width: 50px;
        margin: 2px 0px 0px;
    }

    .likeclass {
        color: red !important;
    }

    .unlikeclass {
        color: #212529;
    }
    .w3-modal-content {
        margin: auto;
        background-color: #fff;
        position: relative;
        padding: 0;
        outline: 0;
        width: 600px;
        animation: animatezoom 0.6s;
    }

    .w3-modal {
        z-index: 3;
        display: none;
        padding-top: 100px;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .closebutton {
        color: #fff !important;
        font-size: 36px !important;
        padding: 0.01em 16px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
</style>
<section class="cover-sec">
    <img src="~/temp/images/resources/cover-img.jpg" alt="">
    <div class="add-pic-box">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-12 col-sm-12">
                    @*<input type="file" id="file">*@
                    @*<label for="file">Change Image</label>*@
                </div>
            </div>
        </div>
    </div>
</section>

<form role="form" id="target" method="post" , enctype="multipart/form-data">
    <main>
        <div class="main-section">
            <div class="container">
                <div class="main-section-data">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="main-left-sidebar">
                                <div class="user_profile">
                                    <div class="user-pro-img">
                                        <img src="~/ProfilePhoto/@Model.PictureName" style="height:210px; width:210px;" alt="" id="output">
                                        <div class="add-dp" id="OpenImgUpload">
                                            <input type="file" name="somename" accept="image/*" required="required" id="file" onchange="loadFile(event)" />
                                            <label for="file"><i class="fas fa-camera"></i></label>
                                        </div>
                                    </div><!--user-pro-img end-->
                                    <div id="btnshow">

                                    </div>
                                </div><!--user_profile end-->
                            </div><!--main-left-sidebar end-->
                        </div>
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <div class="user-tab-sec rewivew">
                                    <h3>@Model.First_Name @Model.Last_Name</h3>

                                    <div class="star-descp">
                                        <span>@Model.Email</span>
                                        <p id="user"></p>
                                    </div><!--star-descp end-->
                                    <div class="tab-feed">
                                        <ul>
                                            <li data-tab="feed-dd" class="active">
                                                <a href="#" title="">
                                                    <img src="~/temp/images/ic1.png" alt="">
                                                    <span>Feed</span>
                                                </a>
                                            </li>
                                            <li data-tab="portfolio-dd">
                                                <a href="#" title="">
                                                    <img src="~/temp/images/ic3.png" alt="">
                                                    <span>Photos</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div><!-- tab-feed end-->
                                </div><!--user-tab-sec end-->
                                <div class="product-feed-tab" id="portfolio-dd">
                                    <div class="portfolio-gallery-sec">
                                        <h3>Uploaded Photos Gallery</h3>
                                        <div class="gallery_pf">
                                            <div class="row" id="myAllPhotos">

                                            </div>
                                        </div><!--gallery_pf end-->
                                    </div><!--portfolio-gallery-sec end-->
                                </div>

                                <div class="product-feed-tab current" id="feed-dd">
                                    <div id="myimages">

                                    </div>
                                </div>

                            </div><!--main-ws-sec end-->
                        </div>
                    </div>
                </div><!-- main-section-data end-->
            </div>
        </div>

    </main>
</form>
<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
    <span class="closebutton">&times;</span>
    <div class="w3-modal-content">
        <img id="img01" style="width:100%">
    </div>
</div>


<link href="~/lib/toastr.js/toastr.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/toastr.js/toastr.min.js"></script>

<script>
    $(document).ready(function () {
        $("#btnshow").text('');
        showprofiles();
        GetAllLiker();
    })

    function showprofiles() {
        $.ajax({
            type: 'Get',
            url: '/Home/GetMyPicture',
            dataType: 'json',
            success: function (result) {
                $.each(result, function (i, l) {
                    $("#myimages").empty();
                    $("#myAllPhotos").empty();
                })
                $.each(result, function (i, l) {
                    $("#myimages").append('<div class="posts-section"><div class="post-bar"><div class="post_topbar"><div class="usy-dt"><img class="imgstyle" src="https://localhost:44329/ProfilePhoto/' + l.currentProfile + '" alt=""><div class="usy-name"><h3>' + l.first_Name + ' ' + l.last_Name + '</h3><span><img src="https://localhost:44329/temp/images/clock.png" alt="">' + ConvertDate(l.dateCreated) + ' ago</span></div></div><div class="ed-opts"  id="disabledId' + l.picureid + '" ><a title="" class="ed-opts-open" onclick="$( ' + "'" + '#DeletePostbutton' + l.picureid + '' + "'" + ').toggle()"><i class="la la-ellipsis-v"></i></a><ul class="Del-Post" id="DeletePostbutton' + l.picureid + '" style="display: none;height: 40px;"><li style="margin: -10px 0 0 10px;"><a href="#" title=""  onclick="DeletePost(' + l.picureid + ')">Delete Post</a></li></ul></div> </div><div class="job_descp"><img src="https://localhost:44329/ProfilePhoto/' + l.pictureName + '" /></div><div class="job-status-bar"><ul class="like-com"><li><a  id="likeid' + l.picureid + '" class="unlikeclass"  onclick="LikeProce(' + l.picureid + ')"><i class="fas fa-heart"></i> Like</a><span style="margin: -1px 0px 0px 0px;" id="' + l.picureid + '"></span></li><li  onclick="$( ' + "'" + '#commentsection' + l.picureid + '' + "'" + ').toggle()"><a href="javascript:void(0)" class="com" ><i class="fas fa-comment-alt"></i> Comment <b id="commentcount' + l.picureid + '"></b> </a></li></ul></div><div id="commentsection' + l.picureid + '" style="display: none;" class="comment-section"><hr style="border-top: 3px solid #e5e5e5 !important;"><div class="comment-sec scrollbarcomment-sec scrollbar" id="style-4"><ul id="commentlist' + l.picureid + '"></ul></div><div class="post-comment"><div style="margin: 0 0 5px 50px;" id="Editing'+l.picureid+'"></div><div class="cm_img"><img src="https://localhost:44329/ProfilePhoto/' + l.currentProfile + '" alt="" style="height: 40px;width: 40px;border-radius: 100px;"></div><div class="comment_box"><form id="form"><input type="hidden" id="txtCommentReplayId'+l.picureid+'" /><input type="hidden" id="txtCommentId' + l.picureid + '" value=""><input type="hidden" id="txtpictureid' + l.picureid + '" value="' + l.picureid + '" /><input type="text" required="required" id="txtComment' + l.picureid + '" placeholder="Post a comment" style="width: 320px;"><button type="button" id="changeonclick'+l.picureid+'" onclick="SendComment(' + l.picureid + ')">Send</button></form></div></div></div>')
                    $("#myAllPhotos").append(' <div class="col-lg-4 col-md-4 col-sm-6 col-6"><div class="gallery_pt"><img src="https://localhost:44329/ProfilePhoto/' + l.pictureName + '" alt="" style="cursor:zoom-in" onclick="onClick(this)"><a href="javascript:void(0)" title=""><img src="https://localhost:44329/ProfilePhoto/' + l.pictureName + '" alt="" onclick="onClick(this)"></a></div><!--gallery_pt end--></div>')
                })

            }
        });
    }
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }
    var loadFile = function (event) {
        $("#btnshow").text('');
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0])
        if (image != null) {
            $("#btnshow").append('<button type="submit" class="btn btn-primary button">Save Profile Picture</button>');
        }
    };
    function LikeProce(id) {
        var likestf;
        $('#likeid' + id).toggleClass('likeclass unlikeclass');
        var yourClass = $('#likeid' + id).prop("class");
        if (yourClass == "likeclass") {
            likestf = true;
        }
        else if (yourClass == "unlikeclass") {
            likestf = false;
        }
        $.ajax({
            async: true,
            type: "POST",
            url: '/Home/Like',
            data: {
                pictureid: id,
                like: likestf
            },
            success: function (result) {
                GetAllLiker();
            },
            error: function () {
            }
        });

    }
    function ConvertDate(dateStr) {
        var date = new Date(dateStr);
        var seconds = Math.floor((new Date() - date) / 1000);
        var interval = Math.floor(seconds / 31536000);
        if (interval > 1) {
            return interval + " years";
        }
        interval = Math.floor(seconds / 2592000);
        if (interval > 1) {
            if (interval > 12) {
                return "1 years";
            }
            return interval + " months";
        }
        interval = Math.floor(seconds / 86400);
        if (interval > 1) {
            if (interval > 31) {
                return "1 months";
            }
            return interval + " days";
        }
        interval = Math.floor(seconds / 3600);
        if (interval > 1) {
            return interval + " hours";
        }
        interval = Math.floor(seconds / 60);
        if (interval > 1) {
            if (interval > 60) {
                return "1 hours";
            }
            return interval + " minutes";
        }
        return Math.floor(seconds) + " seconds";

    }
    function GetAllLiker() {
        $.ajax({
            type: 'Get',
            url: '/Home/GetAllLIker',
            dataType: 'json',
            success: function (result) {
                $.each(result, function (i, l) {
                    $('#' + l.pictureId).text(l.totalLIkes);
                    if (l.currUserLike) {
                        var yourClass = $('#likeid' + l.pictureId).prop("class");
                        $('#likeid' + l.pictureId).removeClass(yourClass).addClass('likeclass');
                    }
                    //currUserLike
                    //pictureId
                    //totalLIkes
                })

            }
        });
    }
    function DeletePost(id) {
        $.confirm({
            title: 'Confirm!',
            content: 'Are you sure you want to delete this Post?',
            buttons: {
                confirm: function () {
                    $.ajax({
                        async: true,
                        type: "POST",
                        url: '/Home/DeleteYourPost',
                        data: {
                            pictureId: id
                        },
                        success: function (result) {
                            showprofiles();
                            GetNotificaiton();
                            toastr.success("Deleted your selected Post.")

                        },
                        error: function () {
                            toastr.error("Error, Unsuccess in deleting this Post.")
                        }
                    });

                },
                cancel: function () {

                },
            }

        });
    }
     function scrollDown() {
        var objDiv = $( "#style-4" ).get( 0 );
        objDiv.scrollTop = objDiv.scrollHeight;
        }
</script>

@if (ViewBag.Sucess == "Profile Save Successfull..!")
{
    <script>
        toastr.success("Profile Save Successfull..!");
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>
}

@*<div class="product-feed-tab current" id="feed-dd"><div class="posts-section"><div class="post-bar"><div class="post_topbar"><div class="usy-dt"><img src="~/temp/images/resources/us-pic.png" alt=""><div class="usy-name"><h3>John Doe</h3><span><img src="~/temp/images/clock.png" alt="">3 min ago</span></div></div></div><div class="job_descp"><h3>Senior Wordpress Developer</h3><img src="~/ProfilePhoto/26091d72e21e419ba2cdd9875898ffa5.jpg" /></div><div class="job-status-bar"><ul class="like-com"><li><a href="#"><i class="fas fa-heart"></i> Like</a><img src="~/temp/images/liked-img.png" alt=""><span>25</span></li></ul></div></div></div></div>*@